In [2]:
import numpy as np
import pandas as pd
filepath="dataset/train_lpd.csv"
data=pd.read_csv(filepath,encoding_errors='ignore')
data.head()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30689 non-null  float64
 1   Gender of the patient                 29789 non-null  object
 2   Total Bilirubin                       30043 non-null  float64
 3   Direct Bilirubin                      30130 non-null  float64
 4   Alkphos Alkaline Phosphotase          29895 non-null  float64
 5   Sgpt Alamine Aminotransferase         30153 non-null  float64
 6   Sgot Aspartate Aminotransferase       30229 non-null  float64
 7   Total Protiens                        30228 non-null  float64
 8   ALB Albumin                           30197 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30132 non-null  float64
 10  Result                                30691 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 2.6+ MB

In [19]:
data.isnull().sum()

Age of the patient                        2
Gender of the patient                   902
Total Bilirubin                         648
Direct Bilirubin                        561
Alkphos Alkaline Phosphotase            796
Sgpt Alamine Aminotransferase           538
Sgot Aspartate Aminotransferase         462
Total Protiens                          463
ALB Albumin                             494
A/G Ratio Albumin and Globulin Ratio    559
Result                                    0
dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data['Gender of the patient']=enc.fit_transform(data['Gender of the patient'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30689 non-null  float64
 1   Gender of the patient                 30691 non-null  int32
 2   Total Bilirubin                       30043 non-null  float64
 3   Direct Bilirubin                      30130 non-null  float64
 4   Alkphos Alkaline Phosphotase          29895 non-null  float64
 5   Sgpt Alamine Aminotransferase         30153 non-null  float64
 6   Sgot Aspartate Aminotransferase       30229 non-null  float64
 7   Total Protiens                        30228 non-null  float64
 8   ALB Albumin                           30197 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30132 non-null  float64
 10  Result                                30691 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.5 MB

In [23]:
data.describe()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
count,30689.000000,30691.000000,30043.000000,30130.000000,29895.000000,30153.000000,30229.000000,30228.000000,30197.000000,30132.000000,30691.000000
mean,44.107205,0.775146,3.370319,1.528042,289.075364,81.488641,111.469979,6.480237,3.130142,0.943467,1.285882
std,15.981043,0.482785,6.255522,2.869592,238.537589,182.158850,280.851078,1.081980,0.792281,0.323164,0.451841
min,4.000000,0.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,32.000000,0.000000,0.800000,0.200000,175.000000,23.000000,26.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,1.000000,0.300000,209.000000,35.000000,42.000000,6.600000,3.100000,0.900000,1.000000
75%,55.000000,1.000000,2.700000,1.300000,298.000000,62.000000,88.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,2.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [24]:
data=data.fillna(method='bfill')
data.isnull().sum()

Age of the patient                      0
Gender of the patient                   0
Total Bilirubin                         0
Direct Bilirubin                        0
Alkphos Alkaline Phosphotase            0
Sgpt Alamine Aminotransferase           0
Sgot Aspartate Aminotransferase         0
Total Protiens                          0
ALB Albumin                             0
A/G Ratio Albumin and Globulin Ratio    0
Result                                  0
dtype: int64

In [25]:
data=data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19320 entries, 0 to 30689
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    19320 non-null  float64
 1   Gender of the patient                 19320 non-null  int32
 2   Total Bilirubin                       19320 non-null  float64
 3   Direct Bilirubin                      19320 non-null  float64
 4   Alkphos Alkaline Phosphotase          19320 non-null  float64
 5   Sgpt Alamine Aminotransferase         19320 non-null  float64
 6   Sgot Aspartate Aminotransferase       19320 non-null  float64
 7   Total Protiens                        19320 non-null  float64
 8   ALB Albumin                           19320 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  19320 non-null  float64
 10  Result                                19320 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 1.7 MB

In [27]:
data['Result'].value_counts()

1    13770
2     5550
Name: Result, dtype: int64

In [29]:
cls_0=data[data['Result']==1]
cls_1=data[data['Result']==2]

In [30]:
len(cls_1)

5550

In [31]:
cls_1=cls_1.sample(13770,replace=True)
data=pd.concat([cls_0,cls_1],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27540 entries, 0 to 25429
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    27540 non-null  float64
 1   Gender of the patient                 27540 non-null  int32
 2   Total Bilirubin                       27540 non-null  float64
 3   Direct Bilirubin                      27540 non-null  float64
 4   Alkphos Alkaline Phosphotase          27540 non-null  float64
 5   Sgpt Alamine Aminotransferase         27540 non-null  float64
 6   Sgot Aspartate Aminotransferase       27540 non-null  float64
 7   Total Protiens                        27540 non-null  float64
 8   ALB Albumin                           27540 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  27540 non-null  float64
 10  Result                                27540 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.4 MB

In [32]:
for x in data.columns:
    data[x]=(data[x]-data[x].min())/(data[x].max()-data[x].min())
data.head()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,0.709302,0.0,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,0.0
1,0.674419,0.5,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0
2,0.674419,0.5,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0
3,0.627907,0.5,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0
4,0.790698,0.5,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0

In [33]:
data['Result'].value_counts()

0.0    13770
1.0    13770
Name: Result, dtype: int64

In [34]:
y=data['Result']
x=data.drop(['Result'],axis=1)

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(x,y,test_size=0.2,stratify=y)

In [36]:
from xgboost import XGBClassifier
svc_model=XGBClassifier()
svc_model.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [37]:
from sklearn.metrics import accuracy_score, confusion_matrix
predictions= svc_model .predict(X_train)
percentage=svc_model.score(X_train,y_train)
res=confusion_matrix(y_train,predictions)
print("Training confusion matrix")
print(res)
predictions= svc_model .predict(X_test)
train_percentage=svc_model.score(X_train,y_train)
test_percentage=svc_model.score(X_test,y_test)
res=confusion_matrix(y_test,predictions)
print("Testing confusion matrix")
print(res)
# check the accuracy on the training set
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
print(f"Train set:{len(X_train)}")
print(f"Train Accuracy={train_percentage*100}%")
print(f"Test set:{len(X_test)}")
print(f"Test Accuracy={test_percentage*100}%")

Training confusion matrix
[[11011     5]
 [    4 11012]]
Testing confusion matrix
[[2745    9]
 [   0 2754]]
0.9995915032679739
0.9983660130718954
Train set:22032
Train Accuracy=99.95915032679738%
Test set:5508
Test Accuracy=99.83660130718954%